body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav {
  border: 4px solid red;
}

#root {
  border: 4px solid blue;
}

.Home {
  border: 8px double orchid;
  min-height: 90vh;
}

.About {
  border: 8px dashed goldenrod;
  min-height: 90vh;
}

.Video {
  border: 8px dotted teal;
  min-height: 90vh;
}
